@import './import.scss';
@import './variable.scss';
@import './mixins.scss';
@import './header.scss';
@import './main.scss';
@import './popup.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: $main_size;
  color: $_black-gray;

  font-family: $font_family;
  @media (max-width: 1199px) {
    font-size: $tablet_size;
  }
  @media (max-width: 767px) {
    font-size: $mobile_size;
  }
}
.container {
  max-width: 1170px;
  @media (max-width: 991px) {
    max-width: 960px;
  }
  @media (max-width: 767px) {
    max-width: 720px;
  }
  @media (max-width: 575px) {
    max-width: 540px;
  }
  margin: auto;
  padding: 0 15px;
}
.wrap {
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
}
