$_64: 4rem;
$_36: 2.25rem;
$_30: 1.875rem;
$_24: 1.5rem;
$_20: 1.25rem;
$_18: 1.125rem;
$_16: 1rem;
$_13: 0.8125rem;

$main_size: 16px;
$tablet_size: 15px;
$mobile_size: 12px;

$_900: 900;
$_700: 700;
$_400: 400;
$_300: 300;
$_500: 500;

$_write: #fff;
$_black: #000;
$_black-gray: #2d3033;
$_gray: #595e64;
// $_red: #ff4343;
// $_col_icons: #c6cbcd;
$_orange: rgb(253, 135, 56);
$_orangeHover: rgb(247, 163, 107);
$_blue: rgb(97, 153, 255);
$_blueHover: rgb(154, 188, 250);

$font_family: 'Roboto', sans-serif;
